body {
     background-image: url(fond0.jpg);
    background-size: 150%;
}

.encadrer{
    font-family: helvetica, sans;
    font-size: 24dip;
    color: black;
    background-image: url(fond.jpg);
    background-size: 100%;
    background-position: top;
    padding: 25px;
    border: 2px solid black;
    margin: auto;
    text-align: right;
    float: right;
}
    
.jeu{
    margin: auto;
    text-align: center;
    max-width: 400px;
    background-color: black;
    color: white;
    height: auto;
}

@media all and (max-width: 300px){

.encadrer{
     width: 10em;
     float: left;
     margin: auto;
     
}


} 

@media all and (max-width: 500px){
.encadrer{
      background-size: cover;
      height: auto;
      width: auto;;
      margin-right: auto;
      margin-top: auto;
      float: right;
      padding-bottom: 105px;
}

}
